In [1]:
import pandas as pd

In [2]:
raw_data=pd.read_csv('Dataset_feuilles_1.csv')

In [3]:
raw_data.head()

,id,species,margin1,margin2,margin3,margin4,margin5,margin6,margin7,margin8,...,texture55,texture56,texture57,texture58,texture59,texture60,texture61,texture62,texture63,texture64
0,1,Acer_Opalus,0.007812,0.023438,0.023438,0.003906,0.011719,0.009766,0.027344,0.0,...,0.007812,0.000000,0.002930,0.002930,0.035156,0.0,0.0,0.004883,0.000000,0.025391
1,2,Pterocarya_Stenoptera,0.005859,0.000000,0.031250,0.015625,0.025391,0.001953,0.019531,0.0,...,0.000977,0.000000,0.000000,0.000977,0.023438,0.0,0.0,0.000977,0.039062,0.022461
2,3,Quercus_Hartwissiana,0.005859,0.009766,0.019531,0.007812,0.003906,0.005859,0.068359,0.0,...,0.154300,0.000000,0.005859,0.000977,0.007812,0.0,0.0,0.000000,0.020508,0.002930
3,5,Tilia_Tomentosa,0.000000,0.003906,0.023438,0.005859,0.021484,0.019531,0.023438,0.0,...,0.000000,0.000977,0.000000,0.000000,0.020508,0.0,0.0,0.017578,0.000000,0.047852
4,6,Quercus_Variabilis,0.005859,0.003906,0.048828,0.009766,0.013672,0.015625,0.005859,0.0,...,0.096680,0.000000,0.021484,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.031250

In [4]:
from sklearn.preprocessing import LabelEncoder
labelencoder=LabelEncoder()

for col in raw_data.columns:
    raw_data[col]=labelencoder.fit_transform(raw_data[col])

In [5]:
X=raw_data.iloc[:,1:194]
y=raw_data.iloc[:,0]

In [6]:
X.head()

,species,margin1,margin2,margin3,margin4,margin5,margin6,margin7,margin8,margin9,...,texture55,texture56,texture57,texture58,texture59,texture60,texture61,texture62,texture63,texture64
0,3,4,12,12,2,6,5,14,0,1,...,8,0,3,3,36,0,0,5,0,26
1,49,3,0,16,8,13,1,10,0,0,...,1,0,0,1,24,0,0,1,40,23
2,65,3,5,10,4,2,3,35,0,0,...,128,0,6,1,8,0,0,0,21,3
3,94,0,2,12,3,11,10,12,0,7,...,0,1,0,0,21,0,0,18,0,49
4,84,3,2,25,5,7,8,3,0,0,...,90,0,22,0,0,0,0,0,0,32

In [7]:
y.head()

0    0
1    1
2    2
3    3
4    4
Name: id, dtype: int64

In [ ]:
#from sklearn.preprocessing import label_binarize 
#y = label_binarize(y, classes=[0, 1, 2, 3,4])

In [8]:
from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [9]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()

lr.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [1]:
from sklearn import metrics
y_prob=lr.predict_proba(X_test)[:,2]
[fpr,tpr,thr]=metrics.roc_curve(y_test,y_prob)

NameError: name 'lr' is not defined